* {
  margin: 0;
  padding: 0;
}

body { 
  background-color: #f0f3f7 !important;
} 

div.vis-tooltip {
  position: absolute;
  visibility: hidden;
  padding: 5px;
  white-space: normal;
  font-family: Calibri;
  font-size: 15px;
  color: #6366f1;
  background-color: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 5;
}

#tsparticles {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
